{ BasedOnStyle: LLVM, AlignAfterOpenBracket: Align, AlignConsecutiveDeclarations: { Enabled: true, AcrossEmptyLines: true, AcrossComments: true, AlignCompound: true, PadOperators: true }, UseTab: Never, IndentWidth: 4, TabWidth: 4, BreakBeforeBraces: Attach, AllowShortIfStatementsOnASingleLine: false, IndentCaseLabels: true, ColumnLimit: 0, AccessModifierOffset: -4, NamespaceIndentation: All, FixNamespaceComments: false, KeepEmptyLinesAtTheStartOfBlocks: true, MaxEmptyLinesToKeep: 5, SortIncludes: true, PointerAlignment: Right }